*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 238, 238);
    padding: 2em;
}

.page{
    display: flex;
    flex-wrap: wrap;
    max-width: 65em;
    margin: 1em auto;
}

.page > header{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
    flex: 1 1 100%;
    padding-bottom: 1em;
    text-transform: uppercase;
}

blockquote{
    font-family: Georgia, serif;
}


.page > main{ 
    padding: 0;
    flex: 1 1 65%;
}

.page > aside{
    flex: 1 1 25%;
    margin-left: 3em;
}

p{
    padding: 1em 0
}

aside ul{
    padding: 0.5em 2em;
}

aside a{
    text-decoration: none;
    color:  rgb(0, 153, 0);
}

img{
    display: block;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    padding: 0.5em;
}

.pic1{
    float: right;
    margin: 0 0 1em 1em;
}

.pic2{
    float: left;
    margin: 0 1em 1em 0;
}