@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
*{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body{
    background-color: #d9d9d9;
    }

.container{
    display: flex;
    /* flex-wrap: wrap; */
    flex: 1 1 auto;
    justify-content: space-between;
    margin: 4em;
    gap: 30px;
    }

.bottom-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    }

.box-left, .box-middle,
.box-right{
    width: 33%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.384);
    }

.header{
    width: 100%;
    height: 50%;
}

.header img{
    width: 100%;
	height: 100%;
	object-fit: cover;
}

.bottom-pic{
    width: 72px;
    height: 62px;
}
.bottom-pic img{
    width: 100%;
	height: 100%;
	object-fit: cover;
    border-radius: 50%;
}

.content{
    margin: 1em 2em;
    border-bottom: 2px solid #716d6d;
}

.footer{
    display: flex;
    margin: 0 2em 6em 2em ;
}

h3{
    color: #5a5a5a;
    margin-bottom: 0.5em;
}

h2{
    font-weight: 400;
    font-size: 28px;
    color: #3f3d3d;
    margin-bottom: 1.5em;
}

h4{
    font-weight: 400;
    font-size: 16px;
    color: #4b4b4b;
}

h5{
    font-weight: 400;
    font-size: 16px;
    color: #a6a5ae;
}

p{
    margin-bottom: 2em;
}

.bottom-content{
    margin-left: 0.5em;
}