body{
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 3em;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', serif;
}

ul{
    list-style-type: disc;
}

ul .end-list{
    list-style-type: circle;
}

blockquote{
    border-style: rgb(221,221,221);
}

table{
    width: 100%;
    text-align: left;
    vertical-align: middle;
    margin: 0;
}

tr:nth-child(odd){
    background-color:rgb(236, 230, 230);
}

th{
    background-color: darkgray;
}