* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetic, sans-serif;
}

body{
    margin: 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    }

header{
    border-bottom: 1px solid black;
    margin-bottom: 2em;
    text-transform: uppercase;
    padding-bottom: 1em;
}

main{
    flex: 1 1 auto;
}

footer{
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    padding: 1em 1.7em;
}

p{
    margin: 1em 0;
}