body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
    }

section{
        margin-left: 20px;
    }

    header{
        font-style: italic;
    }

h1{
    font-size: 28px;
}

p{
    font-size: 20px;
}