* {
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}

body{
    padding: 2em;
    max-width: 100%;
   }

header{
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

header ul{
    display: flex;
}

header li{
    display: block;
    padding: 0 1em;
}

header a{
    display: block;
    text-decoration: none;
    color:  rgb(0, 153, 0);
}

p{
    padding: 1em 0;
}

h1{
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
}