*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.container{
    padding: 2em;
    display: flex;
    max-width: 15vw;
    max-height: 35rem;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.3em;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 50px;
    border: 1px solid black;
    border-radius: 0.2em;
}
