* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: 0.5em;
}

header, footer, nav, section{
    border-radius: 0.3em;
    background-color: rgb(0, 225, 255);
    padding: 1.5em 0 1.5em 0.7em;
}

main{
    display: flex;
    min-height: 100vh;
    gap: 0.5em;
}

nav{
    padding: 0.2em 3em 0 1em;
    color: blueviolet;
}

section{
    flex-grow: 1;
}

footer{
    padding: 0.7em;
}

nav li{
    display: block;
    margin: 0.7em 0 0.7em 0;
}

section ul{
    margin-top: 1em;
    padding-left: 2em;
}

section a{
    display: block;
    text-decoration: none;
    color:  black
}

header{
    display: flex;
}

header ul{
    display: flex;
    align-items: center;
    }

header li{
    display: block;
    color: rgb(47, 0, 255);
}

header > ul li:nth-child(1)
{
    padding-left: 2em;
}

header > ul li:nth-child(2),
header > ul li:nth-child(3)
{
    padding-left: 3em;
}

@media (max-width: 500px){
    main{
        flex-direction: column;
    }
}