* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    margin: 2em;
    height: 300px;
}

.container .first-section{
    height: 30%;
    border: 1px solid blue;
}

.container .second-section{
    height: 70%;
    border: 1px solid rgb(255, 0, 4);
}