* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 900px;
    margin: 2em;
    border: 3px solid black;
    flex-wrap: wrap;
    text-align: center;
}

.top-box{
    flex-grow: 1;
    width: 100%;
    border: 2px solid rgb(247, 11, 11);
}

.left-box{
    width: 30%;
    border: 2px solid rgb(35, 11, 247);
}

.right-box{
    width: 70%;
    border: 2px solid rgb(6, 105, 20);
}