@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Inter, sans-serif;
   }

body{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

.box1{
    display: flex;
    margin: 2em 4em;
    gap: 1em;
	}

.box-left{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 65%;
    border: 1px solid rgb(106, 0, 255);
}

.box-rigt{
    width: 45%;
    background-color: white;
    border: 1px solid rgb(26, 255, 0);
}

.top{
    width: 100%;
    background-color: white;
}

.bottom{
    width: 100%;
    background-color: white;
}