html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    max-width: 65vw;
}

section{
    display: flex;
    flex-wrap: wrap;
}

span{
    display: flex;
    border: 1px solid black;
    flex-grow: 1;
    padding: 1em;
    padding-bottom: 4em;
    justify-content: center;
}

.notes{
    width: 13em;
    flex-direction: column;
    flex-grow: 1;
}

section.week span:nth-child(1),
section.week span:nth-child(7){
    flex-basis: 100%;
}