body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 3em;
}
h2{
    font-family: 'Great Vibes', cursive;
    line-height: 1.2;
    font-weight: bold;
}

.list1, .list2{
    list-style-type: disc;
}

.list3{
    list-style-type: circle;
}