* {
    padding: 0;
    margin: 0;
   }

 * {
    box-sizing: inherit;
   }

 html {
        font-family: hevletica, sans-serif;
        box-sizing: border-box;
      }

body{
        background-color: #f1f1f1;
      }

table {
    border-collapse: collapse;
    width: 100vw;  
}

table thead tr th,
table tbody tr td {
    width: 30%;
    border: 1px solid #d5d5d5;
    padding: 0.4em;
    text-align: left;
}


.table-container tr{
    border-left: 2px solid #f1f1f1;
} 

.table-container th{
    background-color: black;
    color: white;
}

.table-container tr:nth-child(1){
    background-color: #f1f1f1;
}
.table-container tr:nth-child(2){
    background-color: white;
}