@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: PT, serif;
    }

.contayner{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 1920px;
    height: auto;
    overflow: hidden;
    }

.box-top{
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center center;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.contant{
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    align-items: center;
    width: 596px;
    margin: 3em 6em 9em 6em;
}

.logo-raccoon img{
    width: 100%;
	height: 100%;
	object-fit: cover;
}

.nav{
    display: flex;
    text-transform: uppercase;
    list-style: none;
    gap: 1em;
}

.nav a{
    font-size: 12px;
    font-family: PT, sans-serif;
    text-decoration: none;
    color: white;
}

.title{
    display: flex;
    width: 477px;
    color: white;
    font-size: 45px;
    margin-bottom: 1em;
}

.descriptons{
    width: 522px;
    color: white;
    line-height: 1.7;
    font-size: 16px;
    font-family: PT, sans-serif;
}

.box-middle{
    display: flex;
    justify-content: space-around;
    height: 50vh;
    border-bottom: 1px solid rgb(77, 77, 77);
    margin: 10em;
    gap: 3em;
}

.middle-title{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 18px;
    color: rgb(77, 77, 77);
}

.desc{
    line-height: 1.7;
    font-size: 16px;
    font-family: PT, sans-serif;
    color: rgb(77, 77, 77);
}

.button{
    padding: 9px 15px;
    display: inline-block;
    border: 2px solid #b28561;
    border-radius: 2px;
    margin-top: 30px;
    color: #b28561;
}

.box-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 18px;
    color: #b28561;
}

.desc{
    width: 80%;
    text-align: center;
}

.logos{
    width: 50px;
    height: 50px;
}

.logos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
