* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: rgb(238, 238, 238);
    min-width: 100vw;
    margin: 5em auto auto 5em;
}

section{
    display: block;
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.384);
}

.main{
    padding: 1em;
}

.main p{
    margin-top: 1em;
    font-family: Helvetica, sans-serif;
}

.pic img{
    width: 100%;
    height: auto;
}

img{
    border-radius: 5px 5px 0 0;
}

.button{
    font-family: Helvetica, sans-serif;
    margin: 0 1em 1em 72%;
    background-color: rgb(0, 153, 0);
    color: white;
    border-radius: 0.2em;
}

.button p{
    padding: 0.6em 0;
    text-align: center;
}

h1{
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}