* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, sans-serif;
}

body{
    display: flex;
    background-color: rgb(238, 238, 238);
    min-width: 100vw;
    margin: 5em auto auto 5em;
}

section{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

img{
    border-radius: 5px 5px 0 0;
}

.button{
    background-color: rgb(0, 153, 0);
}

h2{
    font-family: Georgia, serif;
    font-size: 1em/1.2;
}